<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GOL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GOL</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>Jugador</ion-label>
    <ion-input [(ngModel)]="document.goles.jugador"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Numero de Goles</ion-label>
    <ion-input [(ngModel)]="document.goles.numGoles"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Partidos</ion-label>
    <ion-input [(ngModel)]="document.goles.partidos"></ion-input>
  </ion-item>
  <ion-button *ngIf="nuevo"  (click)="clickBotonInsertar()" color="success"
    >Añadir Jugador</ion-button
  >

  <ion-button *ngIf="existente" (click)="confirmarBorrado()" color="danger"
    >Borrar Registro</ion-button
  >
  <ion-button *ngIf="existente" (click)="clickBotonModificar()" color="warning"
    >Modificar Registro</ion-button
  >


  <ion-fab slot="fixed" vertical="bottom" horizontal="start" >
    <ion-fab-button (click)="volver()" color="dark">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
