<ion-header>
  <ion-toolbar>
    <ion-title> Lista de Goleadores </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="formularioAnadir">
    <ion-item>
      <ion-label>Jugador</ion-label>
      <ion-input 
      [(ngModel)]="golEditando.jugador"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Numero de Goles</ion-label>
      <ion-input [(ngModel)]="golEditando.numGoles"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Partidos</ion-label>
      <ion-input [(ngModel)]="golEditando.partidos"></ion-input>
    </ion-item>
    <ion-button (click)="clickBotonInsertar()" color="success">Añadir Jugador</ion-button>
  </div>
  <h1>GOLES</h1>
  <ion-list>
    <ion-item
      *ngFor="let documentGol of arrayColeccionGoles"
      (click)="selecGol(documentGol.id, documentGol.gol)"
    >
      <ion-grid>
        <ion-row>
          <h2>{{ documentGol.gol.jugador }}</h2>
        </ion-row>
        <ion-row>
          <p>{{ documentGol.gol.numGoles }}</p>
        </ion-row>
        <ion-row>
          <p>{{ documentGol.gol.partidos }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" >
    <ion-fab-button (click)="selecNuevo()" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
